#footer {
  width: 1366px;
  height: 477px;
  flex-shrink: 0;
  margin-top: 93px;
}
.container {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.container ul li {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
.bottom_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1240px;
  height: 76px;
  flex-shrink: 0;
  margin-top: 70px;
  margin-left: 63px;
  margin-right: 63px;
  border-top: 1px solid rgba(125, 121, 121, 0.47);
 
}
.imga {
  width: 272px;
  height: 34px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
}
img {
  width: 56px;
  height: 34px;
  flex-shrink: 0;
}
.img_15 img {
  margin-left: 36px;
  margin-right: 16px;
}
.img_16 img {
  margin-right: 16px;
}
